@import url(https://fonts.googleapis.com/css?family=Roboto:400,100);

body {
	background-color: #F1F1F1;
	font-family: 'Roboto', sans-serif;
	margin: 0;
}

h1 {
	font-weight: 100;
}

header {
	position: relative;
	height: 70px;
	background-color: #0084FF;
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
	z-index: 5;
}

header h1 {
	color: #FFF;
	margin: 0;
	position: absolute;
	top: 14px;
	left: 10px;
}

.button {
	padding: 10px;
	background-color: #00DD00;
	border-radius: 2px;
	color: #FFF;
	text-decoration: none;
	display: block;
	border: none;
	width: 100%;
	cursor: pointer;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.button:hover {
	background-color: #00FF00;
	transition: all 0.5s ease;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

/* Home */
.home-container {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-image: url("assets/background.jpg");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
}

.home-text-container {
	color: #FFF;
	text-align: center;
	z-index: 1;
}

.home-text-container h1 {
	font-size: 50px;
}

.home-text-container p {
	margin-bottom: 30px;
}

.home-background-shader {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 0;
}

/* Create User */
.signup-form {
	position: relative;
	margin: auto;
	width: 400px;
	background-color: #FFF;
	border-radius: 5px;
	padding: 20px;
	margin-top: 20px;
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.signup-form input[type=text], .signup-form input[type=password] {
	display: block;
	width: 100%;
	font-size: 20px;
	padding: 10px;
	border-radius: 10px;
	border: 1px solid #CCC;
	outline: none;
	margin-bottom: 20px;
}

/* Message */
.message-content {
	position: absolute;
	z-index: 1;
	top: 70px;
	bottom: 0;
	right: 0;
	left: 0;
	display: flex;
}

.user-pane {
	max-width: 300px;
	min-width: 200px;
	flex-grow: 1;
	margin: 0;
	background-color: #FFF;
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
	z-index: 1;
	padding: 0;
}

.user-pane li {
	list-style: none;
	display: flex;
	align-items: center;
	border-bottom: 1px solid #ccc;
	padding: 10px;
	cursor: pointer;
}

.user-pane li:hover {
	background-color: #DDD;
}

.profile-image {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	margin-right: 5px;
}

.message-pane {
	flex-grow: 5;
	display: flex;
	flex-direction: column;
	z-index: 0;
}

.messages {
	flex-grow: 1;
	padding: 20px;
	margin: 0;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	overflow-x: auto;
}

.message {
	position: relative;
	list-style: none;
	margin: 3px;
	border-radius: 20px;
	padding: 10px;
	padding-left: 15px;
	padding-right: 15px;
	font-size: 14px;
	max-width: 60%;
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.first-person-message {
	align-self: flex-end;
	background-color: #0084FF;
	color: #FFF;
}
.second-person-message {
	align-self: flex-start;
	background-color: #CCC;
}

.typing-area {
	flex-grow: 0;
	height: 50px;
	background-color: #FFF;
	margin: 0;
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
	display: flex;
}

.typing-area input[type=text] {
	flex-grow: 1;
	padding: 10px;
	font-size: 16px;
	outline: none;
	border: none;
}

.typing-area input[type=submit] {
	width: 70px;
}